div.common-games-ingame-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

div.common-games-ingame-title {
    display: flex;
    color: white;
    align-items: center;

    div.creative-wrapped {
        transition: all 0.4s;
        display: flex;
        width: 110px;
        margin-right: 8px;
        div.creative {
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            color: black;
            background-color: white;
            padding: 4px 12px;
            border-radius: 999px;
            width: 110px - 24px;
        }
    }

    div.title {
        font-size: 24px;
    }

    div.creative-code {
        opacity: 0.8;
        margin-left: 8px;
        transition: all 0.4s;
    }

    &:not(.is-creative) {
        div.creative-wrapped {
            margin-right: 0;
            width: 0;
            transform: translateX(-110px);
            opacity: 0;
        }

        div.creative-code {
            opacity: 0;
        }
    }
}

div.common-games-ingame-attributes {
    display: flex;
    gap: 16px;
    color: white;
    // FIXME: Firefox somehow wrongly renders the text.
    white-space: nowrap;
    transition: all 0.4s;
    height: 16px;

    div.players,
    div.times,
    div.qualified {
        display: flex;
        gap: 6px;
    }
    
    img {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
    

    div.times div.time-left {
        opacity: 0.6;
    }

    &:not(.is-available) {
        opacity: 0;
        height: 0;
    }
}
